@media only screen and (min-width: 32.5em) {
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400&family=Noto+Sans+JP:wght@300;400&display=swap');

    h1 {
        font-size: 2.5rem;
        font-family: "M PLUS Rounded 1c", "Noto Serif JP", "M PLUS 1p", serif;
    }

    body {
        font-family: "Noto Sans JP", Verdana, Georgia;
    }

    h2 {
        font-size: 1.5em;
        font-family: "M PLUS Rounded 1c", "Noto Serif JP", "M PLUS 1p", serif;
    }
    header, footer {
        border-radius: 15px;
    }
    header img {
        box-shadow: 0 0 30px #444;
        float: right;
        border-bottom: 0 10px 0 0;
    }
}