@media only screen and (min-width: 35em) {

    footer section:first-child {
        padding-top: 2em;
    }

      .cbasic p {
        font-size: 15px;
      }

      .cbasic img {
          margin-top: 10px;
      }

      .copyright {
        padding: 2em 0 0 0;
        font-size: 15px;
    }
  

    figure {
        width: 300px;
        margin: 2em;
        border: none;
      }

 #gallery-photos {
        display: grid;
        grid-template-columns: repeat(2, minmax(300px, 1fr));
        justify-items: center;
        grid-gap: 25px;
      }

}