body {
    font-size: 16px;
    font-family: "Noto Sans JP", Verdana, Georgia;
	background-color: #F4F3EC;
    padding: 0;
	margin: 0;
}


h1, h2 {
    font-family: "M PLUS Rounded 1c", "Noto Serif JP", "M PLUS 1p", serif;
}


header {
	background-color: rgb(15, 6, 32) ;
	display: flex;
	align-items:center;
	justify-content:center;
}

header, main, nav, footer {
    max-width: 960px;
    margin: 0 auto;
}

header, footer {
    border: 1px solid rgb(15, 6, 32) ;
    background-color: rgb(15, 6, 32) ;
    color: rgb(255, 189, 74);
}

header img {
	width: 90px;
	height: auto;
}

.headings {
	display: flex;
	flex-direction: column;
    line-height: 17px;
    padding-bottom: 15px;
}

.headings h1 {
    font-style: italic;
	font-size: .9rem;
	margin: 0 0 0 17px;
    color: rgb(255, 189, 74);
    padding: 0;
    margin: 0;
}


.second-line {
	font-style: italic;
	letter-spacing: 1pt;
	color: rgb(255, 189, 74);
	padding: 0;
    margin: 0;
	font-size: 1.6rem;
}

nav {
    background-color:  rgb(15, 6, 32) ;
    text-align: center;
    box-shadow:   0 2px 15px rgb(27, 11, 56);
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav ul li a {
	display: block;
	color: rgb(255, 189, 74);
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
}
nav a:hover {
	background-color: rgb(255, 189, 74);
	color:rgb(15, 6, 32);
}
.active {
	color: white;
}

footer a {
    color: #ffbd4a ;
}

div {
    max-width: 960px;
    margin: 0 auto;
    padding-left: 1em;
    padding-right: 1em;
	display: grid;
	grid-template-columns: 1fr;
	font-size: 0.6rem;
}

div img {
	width: 100%;
    height: auto;
    border: 1px solid #bbb;
}


p {
	font-size: 1.25em;
	line-height: 1.25em;
}


nav ul.hide {
    display: none;
}

button {
    margin: 0;
    padding-bottom: 5px;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: rgb(255, 189, 74);
    margin-right: .5em;
    margin-left: auto;
}

button:hover {
    background-color: rgb(255, 189, 74);
	color:rgb(15, 6, 32);
}

.cbasic {
    display: grid;
    grid-template-columns: 0fr 1fr;
  }
  .cbasic p {
    text-align: left;
    padding-left: 1rem;
    font-size: 1.15em ;
  }
  
footer div.cbasic img {
    width: 25px;
    padding: 0%;
}

footer {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    text-align: center;
    margin-top: 1em;
}

.copyright {
    padding: 2em 0 0 0;
    font-size: 10px;
    display: block;
}

figure a {
    font-size: 9px;
}

.banner {
    background-color: rgb(255, 189, 74);
	color:rgb(15, 6, 32);
    padding: .5em .5em;
    display: none;
}

footer section:nth-child(3) {
    font-size: .7em;
}

figure {
    text-align: center;
    font-style: italic;
    font-size: 10px;
    text-indent: 0;
    border-radius:10px ;
    box-shadow: 0 0 30px rgb(51, 47, 51);
}

figure a {
    font-size: 9px;
}

figure img[data-src] {
    filter: blur(.5em);
  }
  
 figure img {
    filter: blur(0em);
    transition: filter 0.5s;
  }



#result {
    font-size: 1em;
}

#result {
    margin-bottom: 2em;
}
